fastapi
uvicorn[standard]
pydantic
scikit-learn
numpy
pandas
kagglehub
python-dotenv
mlflow
matplotlib
seaborn
scipy

# Milestone 2
torch
transformers
sentence-transformers
arq
redis[hiredis]
httpx
pydantic-settings
